<div class="story-card priortiy-{{priority}}" data-priority="{{priority}}" data-story-id="{{id}}">
	<button class="story-edit-button">Edit</button>
	<button class="story-delete-button">Delete</button>
	<button class="new-task-button">New task</button>
	<dl>
		<dt>Priority</dt>
		<dd>{{priority}}</dd>
		<dt>Created</dt>
		<dd>{{created}}</dd>
		<dt>Last modified</dt>
		<dd>{{modified}}</dd>
	</dl>

	<h2 class="story-name">As a {{persona}} I want to {{feature}} so that I can {{justification}}</h2>
</div>


	<table class="tasks">
		<thead>
			<tr>
				<th>To do</th>
				<th>In progress</th>
				<th>Done</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="status-todo"></td>
				<td class="status-inprogress"></td>
				<td class="status-done"></td>
			</tr>
		</tbody>
	</table>

